# Node.js
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*.local
config.json

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDE-specific files
.idea/
.vscode/
*.iml
.DS_Store # macOS specific
Thumbs.db # Windows specific